.createLiveNav {
    position: fixed;
    width: 100%;
    top: 0%;
}

.createLiveSignOut {
    /* top: 22%;
    right: 3%; */
    position: static;
}

.menubtn {
    display: none;
}

.menuoptions {
    display: none;
}

.menuoptions2 {
    display: flex;
    align-items: center;
    gap: 20px;

}

@media screen and (max-width: 890px) {
    .menubtn {
        display: block;
        border: none;
        outline: none;
    }

    .menuoptions2 {
        display: none;
    }

    .menuoptions {
        display: flex;
        align-items: center;
        gap: 20px;
        position: fixed;
        top: 65px;
        right: 0;
        flex-direction: column;
        background-color: #ecf8e5;
        padding: 20px;
        border-radius: 20px;
    }
}

.createLeftDiv {
    width: 50%;
    display: inline-block;
}

.rightDivCreateLive {
    /* background-color: #346571; */
    background-image: url("../images/bg.png");
}

.createLeftFormDiv {
    padding: 4%;
    padding-top: 7%;
    padding-left: 8%;
}

.createRightDiv {
    /* background-color: aquamarine; */
    padding: 0%;
    padding-top: 0%;
    z-index: -1;
    right: 0%;
    flex: 1;
}

.downloadPdfBtn {
    /* position: absolute; */
    /* z-index: 20; */
    background-color: #ecf8e5;
    /* right: 29.3%; */
    border: none;
    font-weight: 550;
    color: #346571;
    /* top: 33%; */
}

.downloadPDFIcon {
    padding-bottom: 3%;
}

.createFormSection {
    margin-bottom: 4%;
}

.createUplouploadPictureDivLabel {
    top: 1%;
    left: 33%;
}

/* .uploadPictureInput {
   
} */

.createUploadedPicture {
    left: 5%;
    bottom: 8%;
}


.createUploadPictureInput {
    bottom: -5%;
    background-color: none !important;
    width: 50% !important;
    padding-left: 5px;
    padding-right: 2px;
    position: absolute;
    /* top: 42%; */
    bottom: -16%;
    /* right: 8%; */
    left: 33% !important;
    font-size: 14px;

}

.createUplouploadPhotoDivIcon {
    left: 4%;
}

.createUplouploadPhotoDivGif {
    /* background-color: red; */
    position: relative;
    align-items: center;
    text-align: center;
    width: 70px;
    height: 70px;
    left: 1%;

}

.deleteUploadedPhotoIcon {
    position: absolute;
    bottom: -5%;
    right: 5%;
    color: grey;
    color: goldenrod;

}

.deleteUploadedPhotoIcon:hover {
    position: absolute;
    bottom: -5%;
    right: 5%;
    color: rgb(112, 24, 24);
}

.createLiveSaveProfileBtn {
    width: 100%;
    background-color: #5ec57e;
    color: white;
}

.createLiveSaveProfileBtn:hover {
    width: 100%;
    background-color: #c2fbd7;
    border-radius: 25px;
    box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset, rgba(44, 187, 99, .15) 0 1px 2px, rgba(44, 187, 99, .15) 0 2px 4px, rgba(44, 187, 99, .15) 0 4px 8px, rgba(44, 187, 99, .15) 0 8px 16px, rgba(44, 187, 99, .15) 0 16px 32px;
    box-shadow: rgba(44, 187, 99, .35) 0 -25px 18px -14px inset, rgba(44, 187, 99, .25) 0 1px 2px, rgba(44, 187, 99, .25) 0 2px 4px, rgba(44, 187, 99, .25) 0 4px 8px, rgba(44, 187, 99, .25) 0 8px 16px, rgba(44, 187, 99, .25) 0 16px 32px;
    color: green;
}

.createSaveProfileDiv {
    position: relative;
    align-items: center;
    text-align: center;
    margin-bottom: 8%;
}

.pdfDisplayDiv {
    background-color: white;
    width: 57%;
    min-height: 84vh;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 5%;
    padding: 2%;
    overflow: auto;
    max-height: 84vh;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 5px;
}

.mainCreateLiveDiv1 {
    display: flex;
    flex-direction: row;
}

.rightHeadDiv {
    position: relative;
    top: 0;
    background-color: bisque;
    width: 100%;
    height: 65px;
}

.topDivTemplate1 {
    margin-left: 3.2%;
    margin-bottom: 2%;
}

.imageDiv {
    display: inline-block;
    /* background-color: aqua; */
    margin: 0;
    padding: 0;
    width: 15%;
    position: relative;
    height: 40px;
}

.displayImage {
    width: 45px;
    position: absolute;
    top: 5%;
}

.nameDiv {
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 70%;
    /* background-color: #5ec57e; */
    margin-top: 1%;
}

.resumeName {
    margin: 0;
    padding: 0;
    margin-left: 3%;
    font-size: 14px;
    padding-top: 3%;
}

.resumeTtile {
    font-size: 8px;
    margin: 0;
    padding: 0;
    margin-left: 3%;
}

.liveProfileDiv {
    /* background-color: bisque; */
    font-size: 10px;
    width: 95%;
    margin: auto;
    margin-top: 4%;
    padding: 0;
}

.liveProfileDivLeft {
    padding: 0;
}

.liveProfileDivRight {
    padding: 0;
    text-align: justify;
    text-align: left !important;
    overflow-wrap: break-word;
}

.profileIcon {
    position: absolute;
    bottom: 23%;
    left: 0;
}

.profileName {
    padding: 0;
    margin: 0;
    padding-left: 4%;
    position: relative;
    font-weight: 520;
    color: rgb(30, 37, 50);
    color: rgb(22, 89, 143);

    /* font-family: 'Poppins', sans-serif;
font-family: 'Open Sans', sans-serif; */
}

.profileText {
    font-size: 7px;
    text-align: justify;
    padding-left: 5.6%;
    color: rgb(62, 63, 78);
    ;
    /* font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;  */
    /* font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif; */
}

.employmentHistName {
    margin-top: -3%;
}

.profileEmploymentName {
    font-size: 7px;
    font-weight: 500;
    padding: 0;
    margin: 0;
    padding-left: 5.6%;
    margin-top: 1.8%;
    color: rgb(30, 37, 50);
}

.employmentTime {
    font-size: 6px;
    padding-left: 5.6%;
    padding-bottom: 0;
    margin-bottom: 0;
}

.employmetnProfileText {
    padding-left: 5.6%;
    margin-top: 2%;
}

.liveProfileDivRight {
    padding-left: 20px;
    padding-top: 0.5%;
}

.profileDetails {
    font-size: 8px;
    font-weight: 500;
    margin-bottom: 1.6%;

}

.profileDetailsText {
    font-size: 7px;
    text-align: justify;
    padding: 0;
    margin: 0;
    padding-top: 1%;
}

.profileDetailSubHeading {
    margin-top: 7%;
}

.otherProfileDetails {
    margin-top: 6%;
    margin-bottom: 0;
}

.liveSkills {
    font-weight: 400;
    font-size: 8px;
}

.emailProfileDetailsText {
    color: rgb(26, 145, 240);
    font-weight: 500;
}

.DOBProfileDetailsText {
    color: rgb(130, 139, 162);
    font-weight: 600;
    font-size: 7px;
}

.downloadPdfMainDiv {
    /* background-color: #346571; */
    background-image: url("../images/bg.png");
    /* background-image: url('https://media1.giphy.com/media/xTiTniuHdUjpOlNo1q/200w.webp?cid=ecf05e47oyp7v59c7cncnujecgmxgtdygfh3dyenydkegtuz&ep=v1_gifs_search&rid=200w.webp&ct=g'); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    align-items: center;
    text-align: center;
    position: absolute;
    top: 0%;
    height: 100vh;
}

.realBdfGoBackBtn {
    width: 120px;
    border: none;
    color: #346571;
    color: green;
    color: #5ec57e;
    font-weight: 550;
    width: 120px;
    border-radius: 5px;
    position: absolute;
    right: 3%;
    top: 2.5%;
    background-color: #c2fbd7;
    border-radius: 25px;
    box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset, rgba(44, 187, 99, .15) 0 1px 2px, rgba(44, 187, 99, .15) 0 2px 4px, rgba(44, 187, 99, .15) 0 4px 8px, rgba(44, 187, 99, .15) 0 8px 16px, rgba(44, 187, 99, .15) 0 16px 32px;
    box-shadow: rgba(44, 187, 99, .35) 0 -25px 18px -14px inset, rgba(44, 187, 99, .25) 0 1px 2px, rgba(44, 187, 99, .25) 0 2px 4px, rgba(44, 187, 99, .25) 0 4px 8px, rgba(44, 187, 99, .25) 0 8px 16px, rgba(44, 187, 99, .25) 0 16px 32px;
    color: green;
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 14px;
    font-weight: 600;
    user-select: none;
    -webkit-user-select: none;
    z-index: 15;
}

.realBdfGoBackBtn:hover {
    background-color: #5ec57e;
    color: #ecf8e5;
    box-shadow: rgba(44, 187, 99, .35) 0 -25px 18px -14px inset, rgba(44, 187, 99, .25) 0 1px 2px, rgba(44, 187, 99, .25) 0 2px 4px, rgba(44, 187, 99, .25) 0 4px 8px, rgba(44, 187, 99, .25) 0 8px 16px, rgba(44, 187, 99, .25) 0 16px 32px;
}

.languageLevel {
    font-size: 7px !important;
}

.dashboardBtn {
    /* position: absolute;
    z-index: 20; */
    background-color: #ecf8e5;
    /* right: 39%; */
    border: none;
    color: #346571;
    /* top: 34%; */
    font-weight: 550;
}

.dashboardBtn:hover {
    /* position: absolute;
    z-index: 20; */
    background-color: #ecf8e5;
    /* right: 39%; */
    border: none;
    color: #346571;
    /* top: 34%; */
    font-weight: 550;
}

.templateDiv {
    /* background-color: #c2fbd7; */
    padding-top: 2%;
    padding-bottom: 2%;
    width: 95%;
    margin: auto;
    margin-top: -4%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.templateImgDiv {
    width: 50%;
    display: inline-block;
}

.templateImg {
    width: 100px;
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    box-shadow: rgba(12, 192, 72, 0.1) 0px 4px 12px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.templateDiv {
    padding-top: 2%;
    padding-bottom: 2%;
}

.tempalteImage {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.tempalteImage {
    width: 90%;
}

.templateDiv {
    margin-bottom: 5%;
    margin-top: 2%;
}

.carousel-item {
    height: 198px;
    background-color: white;
}

.live-carousel-control-next {
    right: -47px;
}

.live-carousel-control-next {
    background-color: #5ec57e;
    right: -27px;
    height: 34px;
    top: 72px;
    width: 26px;
}

.live-carousel-control-prev {
    left: -47px;
    height: 34px;
    top: 72px;
    width: 26px;
    background-color: #5ec57e;
}

.landing-carousel-control-next {
    background-color: #5ec57e;
    height: 40px;
    width: 30px;
    margin-right: 5%;
    margin-top: 22%;
}

.landing-carousel-control-prev {
    background-color: #5ec57e;
    height: 40px;
    width: 30px;
    margin-left: 5%;
    margin-top: 22%;
}

.tailorDivImg {
    width: 100%;
}

.createLiveHrLine {
    margin-bottom: 5%;
}

.liveInfoOuterDiv {
    background-color: red;
    background-color: transparent;
    position: relative;
    margin-top: 3%;

}

.aiItAnimationDiv {
    position: absolute;
    right: 3%;
    top: -5% !important;
    /* background-color: #346571; */
    background-color: transparent;
    /* background-color: blue; */
    height: 60px;
    cursor: pointer;
    z-index: 1;
}

.aiItAnimationDivDesc {
    position: absolute;
    right: 3%;
    top: -59% !important;
    /* background-color: #346571; */
    background-color: transparent;
    height: 28px;
    cursor: pointer;
}

.bulbGif {
    height: 50px;
    width: 50px;
    z-index: 5;
    pointer-events: none;
}

.cityLabelForm {
    margin-bottom: 4% !important;
}

.moveBtnCreateUp {
    background-color: transparent;
    /* background-color: #346571; */
    border: none;
    text-align: right;
    position: absolute;
    top: -2%;
    width: 10%;
    right: -2%;

}

.moveBtnCreateDown {
    background-color: transparent;
    /* background-color: #346571; */
    border: none;
    text-align: right;
    position: absolute;
    top: 1.7%;
    width: 10%;
    right: -2%;
}

.moveBtnCreateWebsiteUp {
    background-color: transparent;
    /* background-color: #346571; */
    border: none;
    text-align: right;
    position: absolute;
    top: -43%;
    width: 10%;
    right: 0%;
}

.moveBtnCreateWebsiteDown {
    background-color: transparent;
    /* background-color: #346571; */
    border: none;
    text-align: right;
    position: absolute;
    top: -16.5%;
    width: 10%;
    right: 0%;
}

.moveBtnCreateNotLiveDown {
    background-color: transparent;
    /* background-color: #346571; */
    border: none;
    text-align: right;
    position: absolute;
    top: 8.5%;
    width: 10%;
    right: -2%;
}

.infoTextDiv {
    position: absolute;
    /* visibility: hidden; */
    width: 200px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 10px;
    z-index: 1;
    top: -50px;
    /* Adjust this value to position the tooltip */
    left: 50%;
    margin-left: -100px;
    opacity: 0;
    transition: opacity 0.3s;
}

.SaveBtn {
    /* position: absolute;
    z-index: 20; */
    background-color: #ecf8e5;
    /* right: 46.3%; */
    border: none;
    color: #346571;
    /* top: 34%; */
    font-weight: 550;
}

/* .checkTokenClass{
    box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
              -4px -4px 6px 0 rgba(116, 125, 136, .5), 
    inset -4px -4px 6px 0 rgba(255,255,255,.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
  } */

/* 2 */
/* .btn-2 {
    background: rgb(96,9,240);
    background: linear-gradient(0deg, rgba(96,9,240,1) 0%, rgba(129,5,240,1) 100%);
    border: none;
    
  } */
.btn-2:before {
    height: 0%;
    width: 2px;
}

.btn-2 {
    border: none;
    box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, .5),
        -4px -4px 6px 0 rgba(116, 125, 136, .5),
        inset -2px -2px 6px 0 rgba(255, 255, 255, .2),
        inset 2px 2px 6px 0 rgba(0, 0, 0, .2);
}


.custom-btn {
    width: 180px;
    height: 40px;
    color: #fff;
    border-radius: 20px;
    padding: 10px 10px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    /* position: absolute; */
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        5px 5px 15px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
}

.btn-2 {
    border: none;
    box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, .5),
        -4px -4px 6px 0 rgba(116, 125, 136, .5),
        inset -2px -2px 6px 0 rgba(255, 255, 255, .2),
        inset 2px 2px 6px 0 rgba(0, 0, 0, .2);
}