.mainCreateLiveDiv{
    width: 100%;
}
.createLeftDiv{
    /* background-color: red;   */
    width: 50%;
    display: inline-block;
}
.createLeftFormDiv{
    padding: 4%;
    padding-top: 7%;
    padding-left: 8%;
}
.createRightDiv{
    width: 50%;
    display: inline-block;
    background-color: aquamarine;
    padding: 0%;
    padding-top: 0%;
    /* position: fixed; ********************************/
    right: 0;
    top: 0;
    z-index: -1;
}
.createFormSection{
    margin-bottom: 4%;
}
.createUplouploadPictureDivLabel{
    top: 1%;
    left: 33%;
}
.uploadPictureInput {
    background-color: none !important;
    width: 60% !important;
    padding-left: 5px;
    padding-right: 2px;
    position: absolute;
    /* top: 42%; */
    bottom: -16%;
    /* right: 8%; */
    left: 33%;
    font-size: 14px;
}
.createUploadedPicture{
    left: 5%;
    bottom: 8%;
}


.createUploadPictureInput{
    bottom: -5%;
}
.createUplouploadPhotoDivIcon{
    left: 4%;
}
.createUplouploadPhotoDivGif{
    /* background-color: red; */
    position: relative;
    align-items: center;
    text-align: center;
    width: 70px;
    height: 70px;
    left: 1%;

}
.createLiveSaveProfileBtn{
    width: 100%;
    background-color: #5ec57e;
    color: white;
}
.createLiveSaveProfileBtn:hover{
    width: 100%;
    background-color: #c2fbd7;
    border-radius: 25px;
    box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset, rgba(44, 187, 99, .15) 0 1px 2px, rgba(44, 187, 99, .15) 0 2px 4px, rgba(44, 187, 99, .15) 0 4px 8px, rgba(44, 187, 99, .15) 0 8px 16px, rgba(44, 187, 99, .15) 0 16px 32px;
    box-shadow: rgba(44, 187, 99, .35) 0 -25px 18px -14px inset, rgba(44, 187, 99, .25) 0 1px 2px, rgba(44, 187, 99, .25) 0 2px 4px, rgba(44, 187, 99, .25) 0 4px 8px, rgba(44, 187, 99, .25) 0 8px 16px, rgba(44, 187, 99, .25) 0 16px 32px;
    color: green;
}
.createSaveProfileDiv{
    position: relative;
    align-items: center;
    text-align: center;
    margin-bottom: 8%;
  }
.pdfDisplayDiv{
    background-color: white;
    /* height: 84vh; *********************************************************** */
    width: 57%;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 5%;
    padding: 2%;


}
.rightHeadDiv{
    position: relative;
    top: 0;
    background-color: bisque;
    width: 100%;
    height: 65px;
}
.imageDiv{
    display: inline-block;
    /* background-color: aqua; */
    margin: 0;
    padding: 0;
    width: 15%;
    position: relative;
    height: 40px;
}
.displayImage{
    width: 45px;
    position: absolute;
    top: 5%;
}
.nameDiv{
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 70%;
    /* background-color: #5ec57e; */
    margin-top: 1%;
}
.resumeName{
    margin: 0;
    padding: 0;
margin-left: 3%;
font-size: 14px;
padding-top: 3%;


}
.resumeTtile{
    font-size: 8px;
    margin: 0;
    padding: 0;
    margin-left: 3%;
}
.liveProfileDiv{
    /* background-color: bisque; */
    font-size: 10px;
    width: 95%;
    margin: auto;
    margin-top: 4%;
    padding: 0;
}
.liveProfileDivLeft{
    padding: 0;
}
.liveProfileDivRight{
    padding: 0;
}
.profileIcon{
    position: absolute;
    bottom: 23%;
    left: 0;
}
.profileName{
 padding: 0;
 margin: 0;
 padding-left: 4%;
 position: relative;
 font-weight: 520;
 color:  rgb(30, 37, 50);
 color:  rgb(22, 89, 143);

 /* font-family: 'Poppins', sans-serif;
font-family: 'Open Sans', sans-serif; */
}
.profileText{
    font-size: 7px;
    text-align: justify;
    padding-left: 5.6%;
    color:rgb(62, 63, 78); ;
    /* font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;  */
/* font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif; */
}
.employmentHistName{
    margin-top: -3%;
}
.profileEmploymentName{
    font-size: 7px;
    font-weight: 500;
    padding: 0;
    margin: 0;
    padding-left: 5.6%;
    margin-top: 1.8%;
 color:  rgb(30, 37, 50);
}
.employmentTime{
    font-size: 6px;
    padding-left: 5.6%;
    padding-bottom: 0;
    margin-bottom: 0;
}
.employmetnProfileText{
    padding-left: 5.6%;
    margin-top: 2%;
}
.liveProfileDivRight{
padding-left: 20px;
padding-top: 0.5%;
}

.profileDetails{
    font-size: 8px;
    font-weight: 500;
    margin-bottom: 1.6%;

}
.profileDetailsText{
    font-size: 7px;
    text-align: justify;
    padding: 0;
    margin: 0;
    padding-top: 1%;
}
.profileDetailSubHeading{
    margin-top: 7%;
}
.otherProfileDetails{
    margin-top: 6%;
    margin-bottom: 0;
}
.liveSkills{
    font-weight: 400;
    font-size: 8px;
}
.emailProfileDetailsText{
    color:  rgb(26, 145, 240);
    font-weight: 500;
}
.DOBProfileDetailsText{
    color:rgb(130, 139, 162);
    font-weight: 600;
    font-size: 7px;
}


/* **************************Template 2 ****************************************** */
.outerTempDiv{
    margin-top: -3%;
    padding-left: 3%;
    margin-bottom: 8%;
}
.temp2RightDiv{
    background-color: #5ec57e;
    height: 100%;
    color: white;

}
.temp2ImageDiv{
    display: inline-block;
    /* background-color: aqua; */
    margin: 0;
    padding: 0;
    width: 15%;
    position: relative;
    height: 40px;
}
.temp2DisplayImage{
    width: 50px;
    position: absolute;
    top: 4%;
    border-radius: 100%;
}
.temp2NameDiv{
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 70%;
    /* background-color: #5ec57e; */
    margin-top: 1%;
}
.temp2ResumeName{
    margin: 0;
    padding: 0;
margin-left: 3%;
font-size: 14px;
padding-top: 3%;
padding-left: 2%;

}
.temp2ResumeTtile{
    font-size: 8px;
    margin: 0;
    padding: 0;
    margin-left: 3%;
padding-left: 2%;

}
.temp2LiveProfileDiv{
    /* background-color: bisque; */
    font-size: 10px;
    width: 95%;
    margin: auto;
    margin-top: 4%;
    padding: 0;
}
.temp2LiveProfileDivLeft{
    padding: 0;
}
.temp2LiveProfileDivRight{
    padding: 0;
}
.temp2ProfileIcon{
    position: absolute;
    bottom: 23%;
    left: 0;
}
.temp2ProfileName{
 padding: 0;
 margin: 0;
 padding-left: 4%;
 position: relative;
 font-weight: 520;
 color:  rgb(30, 37, 50);
 color:  rgb(22, 89, 143);

 /* font-family: 'Poppins', sans-serif;
font-family: 'Open Sans', sans-serif; */
}
.temp2ProfileText{
    font-size: 7px;
    text-align: justify;
    padding-left: 5.6%;
    color:rgb(62, 63, 78); ;
    /* font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;  */
/* font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif; */
}
.temp2EmploymentHistName{
    margin-top: -3%;
}
.temp2ProfileEmploymentName{
    font-size: 7px;
    font-weight: 500;
    padding: 0;
    margin: 0;
    padding-left: 5.6%;
    margin-top: 1.8%;
 color:  rgb(30, 37, 50);
}
.temp2EmploymentTime{
    font-size: 6px;
    padding-left: 5.6%;
    padding-bottom: 0;
    margin-bottom: 0;
}
.temp2EmploymetnProfileText{
    padding-left: 5.6%;
    margin-top: 2%;
}
.temp2LiveProfileDivRight{
padding-left: 20px;
padding-top: 0.5%;
}

.temp2ProfileDetails{
    font-size: 8px;
    font-weight: 500;
    margin-bottom: 1.6%;

}
.temp2ProfileDetailsText{
    font-size: 7px;
    text-align: justify;
    padding: 0;
    margin: 0;
    padding-top: 1%;
}
.temp2ProfileDetailSubHeading{
    margin-top: 7%;
}
.temp2OtherProfileDetails{
    margin-top: 6%;
    margin-bottom: 0;
}
.temp2LiveSkills{
    font-weight: 400;
    font-size: 8px;
}
.temp2EmailProfileDetailsText{
    color:  rgb(26, 145, 240);
    font-weight: 500;
}
.temp2DOBProfileDetailsText{
    color:rgb(130, 139, 162);
    font-weight: 600;
    font-size: 7px;
}