body {
  box-sizing: border-box;
}

.signoutBtn {
  width: 120px;
  border-radius: 5px;
  position: absolute;
  right: 1%;
  top: 2.5%;
  background-color: #c2fbd7;
  border-radius: 25px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset, rgba(44, 187, 99, .15) 0 1px 2px, rgba(44, 187, 99, .15) 0 2px 4px, rgba(44, 187, 99, .15) 0 4px 8px, rgba(44, 187, 99, .15) 0 8px 16px, rgba(44, 187, 99, .15) 0 16px 32px;
  box-shadow: rgba(44, 187, 99, .35) 0 -25px 18px -14px inset, rgba(44, 187, 99, .25) 0 1px 2px, rgba(44, 187, 99, .25) 0 2px 4px, rgba(44, 187, 99, .25) 0 4px 8px, rgba(44, 187, 99, .25) 0 8px 16px, rgba(44, 187, 99, .25) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 14px;
  font-weight: 600;
  user-select: none;
  -webkit-user-select: none;
  z-index: 15;
}

.signoutBtn:hover {
  box-shadow: rgba(44, 187, 99, .35) 0 -25px 18px -14px inset, rgba(44, 187, 99, .25) 0 1px 2px, rgba(44, 187, 99, .25) 0 2px 4px, rgba(44, 187, 99, .25) 0 4px 8px, rgba(44, 187, 99, .25) 0 8px 16px, rgba(44, 187, 99, .25) 0 16px 32px;
}

.homeDiv {
  width: 100%;
  margin: auto;
  /* background-color: #151e3d; */
  /* background-image: url("../images/bg.png"); */

}

.HomeLeftDiv {
  width: 80%;
  margin: auto;
  display: inline-block;
  height: 100%;
  padding: 2%;
  /* background-image: url("../images/bg.png"); */
  background-color: white
}

.HomeRightDiv {
  display: inline-block;
  height: 100%;
  width: 50%;
  background-color: #c2fbd7;
  height: 100vh;
  position: fixed;
  right: 0%;
  top: 0;
  z-index: -1;
}

/* .formDetails{
    box-shadow: rgba(71, 169, 109, 0.25) 0px 50px 100px -20px, rgba(28, 218, 148, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    height: 100%;
    padding: 2%; */
/* background-color: white; */
/* background-color: #f6f6f6; */
/* margin: auto;
    margin-left: 2%;
  } */
.formTitle {
  text-align: center;
  color: #174f5d;
  color: #35b276;
  color: #151e3d;
  color: #174f5d;
  font-weight: 600;
  margin-top: 3%;
  margin-bottom:2% ;
  font-family: 'Open Sans', sans-serif;

}

.formSubText {
  color: #808080;
  text-align: center;
  width: 76%;
  margin: auto;
}

.hrLine {
  color: #35b276;
  height: 4px;
  background-color: #35b276;
  width: 80%;
  margin: auto;
  margin-top: 3%;
  margin-bottom: 10%;
}