body {
    box-sizing: border-box;
}

.jumbotron {
    background-image: url("../images/jumbotron.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    border-radius: 12px;
    position: relative;
    top: -100px;
    z-index: -1;
    font-family: 'Open Sans', sans-serif;
}

.jumboText {
    height: 53%;
    width: 40%;
    display: inline-block;
    position: absolute;
    top: 26%;
    left: 5%;
    color: #174f5d;
}

.jumboMainText {
    font-weight: 500;
}

.jumboImgDiv {
    height: 79%;
    width: 50%;
    display: inline-block;
    position: absolute;
    top: 25%;
    right: 2%;
    padding-left: 5%;
}

.smallScreenDiv {
    width: 75%;
    display: inline-block;
    position: relative;
    left: 14%;
    margin-bottom: 4%;
    margin-top: -150%;
    display: none;
}

.jumboImg {
    height: 100%;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

/* .ctaBtn {
    width: 15%;
    left: 3%;
    margin-top: 5%;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
} */
.ctaBtn {
    width: 180px;
    left: 5%;
    border-radius: 26px;
    background-color: #35b276;
    border: none;
    color: white;
    height: 37px;
    position: absolute;
    bottom: 39%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.introText {
    text-align: center;
    width: 80%;
    margin: auto;
    padding-bottom: 5%;
}

.section1 {
    width: 100%;
}

.section1Heading {
    font-family: 'Open Sans', sans-serif;
    color: #347571;
    text-align: center;
    margin-bottom: 2%;
    margin-top: 2%;
}

.sec1Left {
    display: inline-block;
    width: 45%;
    height: 550px;
    position: relative;
    padding: 3%;
}

.sec1Right {
    display: inline-block;
    width: 50%;
    padding: 3%;
    padding-left: 8%;
}

.sec1Text h5 {
    margin-bottom: 0;
}

.sec1PText {
    padding-left: 11.5%;
    padding-bottom: 3%;
    padding-bottom: 4%;
}

.sec1Img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 5%;
}

.section2 {
    width: 99%;
}

.section4 {
    overflow: hidden;
}

.sec2Col {
    height: 80vh;
    margin-top: 2%;
}

.sec2Col1 {
    background-color: #f7fdf3;
    padding: 3%;
    padding-top: 5%;
    align-items: center;
    text-align: center;
}

.sec2Col2 {
    background-color: #ecf8e5;
    padding: 3%;
    align-items: center;
    text-align: center;
    padding-top: 5%;
}

.sec2Col3 {
    background-color: #dcf4ce;
    padding: 3%;
    padding-top: 5%;
    align-items: center;
    text-align: center;
}

.sec2Img {
    width: 40%;
}

.sec2Col h5 {
    margin-top: 18%;
}

.sec2Col h4 {
    margin-top: 18%;
}

.section3 {
    padding-top: 5%;
}

.myCard {
    width: 100%;
    display: inline-block;
    padding-left: 5%;
    padding-right: 5%;
    margin: 3%;
    position: relative;
    height: 300px !important;
    background-image: url("../images/bg.png");
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border: none;


}

.testimonialSlider {
    /* background-color: yellow; */
    height: 100%;
    width: 70%;
    margin: auto;
    align-items: center;
}

.testimonialImg {
    position: absolute;
    width: 120px;
    height: 120px;
    border-radius: 100%;
    top: -20%;
    right: 33%;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.card-title {
    margin-top: 16%;
    margin-bottom: 8%;
    text-align: center;
}

.carousel-item {
    height: 500px;
    background-color: #f6f6f6;
}

.star {
    position: absolute;
    position: absolute;
    top: -3px;
    right: 10px;
    height: 50px;
    color: #35b276;
}

.section4 {
    margin: auto;
    margin-top: 4%;
    padding-top: 3%;
    padding-bottom: 3%;
    width: 99%;
}

.sec4MidDiv1 {
    align-items: center;
    text-align: center;
    padding-left: 5%;
    padding-top: 6%;
    padding-bottom: 5%;
}

.sec4MidDiv2 {
    padding-left: 4%;
}

.sec4MidDiv2 h4 {
    margin-bottom: 8%;
    text-align: center;
    margin-left: -30%;
    margin-top: 4%;
    color: #53c57e;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
}

.sec4MidDiv2 p {
    margin-bottom: 4%;
    text-align: left;
    color: #347571;
}

.section5 {
    height: 80vh;
    align-items: center;
    text-align: center;
    margin-top: 5%;
}

.section5 h1 {
    color: #347571;
    width: 66%;
    margin: auto;
    margin-top: 4%;
    font-weight: 400;
}

.sec5Img {
    width: 20%;
}

.section6 {
    height: 100vh;
    background-image: url("../images/20.png");
    position: relative;
    background-position: center;
    background-size: cover;
    margin-top: 8%;
}

.footerContent {
    /* background-color: antiquewhite; */
    width: 70%;
    height: 400px;
    position: absolute;
    top: 25%;
    left: 18%;
}

.footerContent h4 {
    text-align: center;
    color: #347571;
    font-weight: 700;
}

.subHeadingSec6 {
    text-align: center;
    margin-top: 3%;
    color: #347571;
    color: #53c57e;


}

.footerLinks {
    margin-top: 10%;
    padding-left: 10%;
}

.footerLinks h6 {
    margin-bottom: 6%;
    color: #53c57e;
}

.footerLinks p {
    margin: 0;
    padding-top: 2%;
    font-size: 14px;

}

.section2 {
    width: 100%;
    overflow: hidden;
}

/* CSS */
.ctaBtnSec2 {
    margin-left: 37%;
    width: 300px;
    margin-top: 4%;
    background-color: #c2fbd7;
    border-radius: 100px;
    box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset, rgba(44, 187, 99, .15) 0 1px 2px, rgba(44, 187, 99, .15) 0 2px 4px, rgba(44, 187, 99, .15) 0 4px 8px, rgba(44, 187, 99, .15) 0 8px 16px, rgba(44, 187, 99, .15) 0 16px 32px;
    color: green;
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
}

.ctaBtnSec2:hover {
    box-shadow: rgba(44, 187, 99, .35) 0 -25px 18px -14px inset, rgba(44, 187, 99, .25) 0 1px 2px, rgba(44, 187, 99, .25) 0 2px 4px, rgba(44, 187, 99, .25) 0 4px 8px, rgba(44, 187, 99, .25) 0 8px 16px, rgba(44, 187, 99, .25) 0 16px 32px;
}

.loginBtn {
    background-color: #174f5d !important;
    background-image: url("../images/bg.png") !important;
    color: #174f5d !important;
    width: 100px;
    padding: 4px;
    font-weight: 500;
    font-size: 18px;
    position: absolute;
    top: 15px;
    right: 3%;
    border: none !important;
}

.loginBtn:hover {
    background-image: none;
    background-color: #35b276;
    color: white;
    width: 100px;
    padding: 4px;
    font-weight: 500;
    font-size: 18px;
    position: absolute;
    top: 22px;
    right: 3%;
}

.topDivLanding {
    position: relative;
}

.zoom {
    transition: transform .2s;
    /* Animation */
}

.zoom:hover {
    transform: scale(1.1);
    /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.continueToDahboardBtn {
    background-color: #174f5d !important;
    background-image: url("../images/bg.png") !important;
    color: #174f5d !important;
    width: 12%;
    padding: 4px;
    font-weight: 500;
    font-size: 14px;
    position: absolute;
    top: 3.5%;
    right: 3%;
    border: none !important;
}

.continueToDahboardBtn:hover {
    background-image: none;
    background-color: #35b276;
    color: white;
    padding: 4px;
    font-weight: 500;
    position: absolute;
    top: 3.5%;
    right: 3%;
}

.landingCaraousel {
    height: 627px !important;
}

.landing-carousel-control-next {
    margin-top: 22% !important;
}

.landing-carousel-control-prev {
    margin-top: 22% !important;
}

.tokensBtn {
    background-color: transparent;
    border: none;
    position: absolute;
    right: 12%;
    top: 3.5%;
    z-index: 45;
    font-size: 16px;
}

@media only screen and (min-width: 1024px) and (max-width: 1187px) {
    .jumboImgDiv {
        height: 68%;
        width: 53%;
        display: inline-block;
        position: absolute;
        top: 25%;
        right: 2%;
        padding-left: 5%;
    }

    .ctaBtn {
        bottom: 39%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .jumboImgDiv {
        height: 68%;
        width: 53%;
        display: inline-block;
        position: absolute;
        top: 25%;
        right: 2%;
        padding-left: 5%;
    }

    .loginBtn {
        width: 12%;
        font-size: 16px;
        right: 2%;
    }

    .sec1Left {
        display: inline-block;
        width: 90%;
        height: 230px;
        position: relative;
        padding: 3%;
        margin-left: 5%;
    }

    .sec1Img {
        width: 40%;
        height: 100%;
        position: absolute;
        top: 5%;
        left: 30%;
    }

    .sec1Right {
        display: inline-block;
        width: 95%;
        padding: 3%;
        padding-left: 8%;
    }

    .ctaBtn {
        bottom: 40%;
    }

    .sec2Col {
        height: 53vh;

    }

    .tokensBtn {
        background-color: transparent;
        border: none;
        position: absolute;
        right: 12%;
        top: 3.5%;
        z-index: 45;
        font-size: 16px;
    }
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
    .jumboImgDiv {
        display: none;
    }

    .smallScreenDiv {
        width: 75%;
        display: inline-block;
        position: relative;
        left: 14%;
        margin-bottom: 4%;
        margin-top: -150%;
    }

    .jumboText {
        height: 53%;
        width: 90%;
        display: inline-block;
        position: absolute;
        top: 22%;
        left: 5%;
        color: #174f5d;
    }

    .sec1Left {
        display: inline-block;
        width: 90%;
        height: 180px;
        position: relative;
        padding: 3%;
        margin-left: 5%;
        margin-bottom: 4%;
    }

    .sec1Img {
        width: 40%;
        height: 100%;
        position: absolute;
        top: 5%;
        left: 30%;
    }

    .sec1Right {
        display: inline-block;
        width: 95%;
        padding: 3%;
        padding-left: 8%;
    }

    .ctaBtn {
        bottom: 50%;
    }

    .sec2Img {
        width: 22%;
    }

    .sec2Col h5 {
        margin-top: 8%;
    }

    .sec2Col {
        height: 67vh;

    }

    .sec4MidDiv2 {
        width: 90%;
        align-items: center;
        padding-left: 6%;
        text-align: center !important;
        display: block;
        margin: auto;
    }

    .sec4MidDiv2 h4 {
        margin-left: 0%;
        margin-top: 15%;
    }

    .reviewHeading {
        margin-top: 7%;
        margin-bottom: 10%;
    }

    .testimonialImg {
        display: none;
    }

    .landing-carousel-control-next {
        margin-top: 56% !important;
    }

    .landing-carousel-control-prev {
        margin-top: 56% !important;
    }

    .tokensBtn {
        background-color: transparent;
        border: none;
        position: absolute;
        right: 12%;
        top: 3.5%;
        z-index: 45;
        font-size: 16px;
    }
}



@media only screen and (max-width: 480px) {
    .loginBtn {
        width: 20%;
        font-size: 14px;
        right: 1%;
        background-color: #174f5d;
    }

    .jumboImgDiv {
        display: none;
    }

    .jumboText {
        height: 53%;
        width: 90%;
        display: inline-block;
        position: absolute;
        top: 25%;
        left: 8%;
        color: #174f5d;
    }

    .sec1Left {
        display: inline-block;
        width: 90%;
        height: 170px;
        position: relative;
        padding: 3%;
        margin-left: 7%;
        margin-bottom: 4%;
    }

    .sec1Img {
        width: 40%;
        height: 100%;
        position: absolute;
        top: 5%;
        left: 30%;
    }

    .sec1Right {
        display: inline-block;
        width: 95%;
        padding: 3%;
        padding-left: 8%;
    }

    .ctaBtn {
        bottom: 37%;
        left: 6%;
    }

    .smallScreenDiv {
        width: 75%;
        display: inline-block;
        position: relative;
        left: 14%;
        margin-bottom: 8%;
        margin-top: -150%;
    }

    .jumbotron {
        height: 78vh;
    }

    .sec1RightText {
        font-size: 16px;
    }

    .sec2Img {
        width: 30%;
    }

    .sec2Col {
        height: 50vh;

    }

    .ctaBtnSec2 {
        font-size: 14px;
        width: 270px;
        display: block;
        margin: auto;
        margin-top: 12%;
    }

    .sec4MidDiv2 {
        width: 90%;
        align-items: center;
        padding-left: 6%;
        text-align: center !important;
        display: block;
        margin: auto;
    }

    .sec4MidDiv2 h4 {
        margin-left: 0%;
        margin-top: 15%;
    }

    .reviewHeading {
        margin-top: 7%;
        margin-bottom: 10%;
    }

    .testimonialImg {
        display: none;
    }

    .landing-carousel-control-next {
        margin-top: 56% !important;
    }

    .landing-carousel-control-prev {
        margin-top: 56% !important;
    }

    .tokensBtn {
        background-color: transparent;
        border: none;
        position: absolute;
        right: 12%;
        top: 3.5%;
        z-index: 45;
        font-size: 16px;
    }
}


.custom-btnlanding {
    width: 180px;
    height: 40px;
    color: #fff;
    border-radius: 20px;
    padding: 10px 10px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: absolute;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        5px 5px 15px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
}