.popup {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.popup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    position: relative;
    text-align: left;
    width: 500px;
}

.close {
    position: absolute;
    top: 2px;
    right: 17px;
    cursor: pointer;
    font-size: 25px;
    color: #6b6b6b;
}

.loginForm {
    display: block;
    color: #35b276;
    font-weight: 500px;
    font-size: 18px;
}

.loginInput {
    width: 100%;
    padding: 7px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    margin-bottom: 4%;
}

.form-actions {
    margin-top: 15px !important;
}

.loginHeader {
    color: #35b276;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    position: relative;
    text-align: center !important;
    margin-bottom: 4%;
}

.popupImg {
    position: absolute;
    width: 8%;
    left: 1%;
    top: 10%;
}

.selectLoginBtn {
    width: 100% !important;
    background-color: white !important;
    border: none !important;
    font-size: 16px !important;
    margin-top: 3%;
    color: #35b276 !important;
}

.selectLoginBtn:hover {
    background-color: white !important;
    color: #347571 !important;
}

.loginNow {
    width: 100%;
    border: none !important;
    padding: 1.5%;
    border-radius: 5px;
    background-color: #35b276;
    color: white;
    height: 40px;
}

.loginNow:hover {
    width: 100%;
    padding: 1.5%;
    border-radius: 5px;
    background-image: url("../images/bg.png");
    color: #347571;
    border: 1px solid #347571 !important;
}

.errorMsg {
    margin: 0;
    margin-top: 3%;
    color: red;
    font-size: 16px;
}
.msg {
    margin: 0;
    margin-top: 3%;
    color:#35b276;
    font-size: 16px;
}
.loginLabel{
    margin-bottom: 1.5%;
    margin-top: 2%;
}
.jobPopupDescriptionP{
    font-size: 13px;
color: rgb(134, 140, 159);
color: #6b6b6b;
margin: 0;
padding: 0;
}
.jobPopupDescription::placeholder{
    font-size: 10px;
}
.jobTitleInput::placeholder{
    font-size: 14px;
}
.jobInstructionPopup{
    font-size: 16px;
    margin-top: 7% !important;
}
.jobInstructionLowerPopup{
    font-size: 14px;
    margin-bottom: 8%;
    font-style: italic;
}
/* .otpCenterResend{
    text-align: center;
    align-items: center;
} */
.resendOtpBtn{
    background-color: white;
    border: none;
}
.nocodeText{
    display: inline;
}